legacy-peer-deps=true
enable-pre-post-scripts=true
public-hoist-pattern[]=*@libsql*
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
shamefully-hoist=true
strict-peer-dependencies=false
node-linker=hoisted
